<div id="zoom-event-holder"></div>

<div id="zoom-webinar-form">
  {{input value=webinarId placeholder="Webinar ID"}}

  {{d-button class="btn-primary"
           action="startMeeting"
           label="Start Meeting"
         }}
</div>
